/* 
* @Author: Marte
* @Date:   2019-05-07 19:12:35
* @Last Modified by:   Marte
* @Last Modified time: 2019-05-13 15:43:24
*/
html,body{
    height: 100%;
}
.head{
    height: 130px;
    font-size: 12px;
}
.head #showname{
    position:absolute;
    right:300px;
    top:20px;
    width: 250px;
    height: 20px;
    cursor:pointer;
    font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB;
    display:none;
}
.head .active{
    display:block;
}
.top{
    width: 220px;
    margin-top: 62px;
    vertical-align: middle;
}
.topLeft{
    width: 100px;
    padding-left: 25px;
    cursor: pointer;
    border-right:1px solid grey;
}
.topLeft h4{
    width: 40px;
    padding-left: 25px;
    cursor: pointer;
    margin-right: 5px;
}
.pri{
    width: 66px;
    padding-left: 17px;
}
.topLeft,.pri{
    position: relative;
    float: left;
    height: 28px;
    padding-bottom: 3px;
    line-height: 28px;
    text-align: center;
}
h1{
    width: 189px;
    height: 75px;
    margin: 0 auto;
    padding-top: 29px;
}
.topRight{
    width: 160px;
}
.topRight span{

    height: 28px;
    line-height: 28px;
    font-size: 12px;
    line-height: 28px;
    position:absolute;
    right:200px;
    top:70px;
}
.topRight span a{
    font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB;
    color: black;
    float: left;
    width: 35px;
    text-align: center;
    padding:0 16px;
    letter-spacing: 5px;
    border-right: 1px solid grey;
}
.nav{
    width: 100%;
    height: 50px;
    background: #000;
    position:relative;
}
.nav ul li{
    float:left;
    padding:0 25px;
}
.nav>ul>li>a{
    color:#FFB81C;
    font-size: 14px;

    line-height: 50px;
}
.icon-sousuo{
    display:inline-block;
    font-size: 14px;
}
.nav>ul>li:nth-child(1){
    padding-left: 0;
}
.nav2 .nav-list{
    width: 80%;
    background:white;
    z-index: 99;
}
.nav-list{
    height: 350px;
    padding: 40px 0 60px 0;
    position:absolute;
    left:11%;
    top:100%;
}
.nav-detail li:nth-child(1){
    width: 400px;
}
.nav-detail li:nth-child(2){
    width: 600px;
}
.nav-detail h4{
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 700;
}
.nav-detail li a{
    display:inline-block;
    width: 200px;
    height: 40px;
    font-size: 13px;
    float:left;
    color:#000;
}
.nav-detail li a:hover{
    text-decoration: underline;
}
.nav>ul>li{
    background:no-repeat;
    background-position:30px 44px;
}
.nav>ul>li:nth-child(1){
    background:none;
}
.nav>ul>li:nth-child(4){
    background-position:40px 44px;
}
.nav>ul>li:nth-child(11){
    background-position:40px 44px;
}
/*导航栏结束*/

.main{
    position:relative;
}
.main .top_left{
    position:absolute;
    top:20px;
}
.top_right{
    margin-left: 550px;
    top: 20px;
    position:relative;
}
.top_right img:nth-child(1){
    position:absolute;
    left:0;
    top:0;
    z-index: 6;
}
.top_right img:nth-child(2){
    position:absolute;
    left:178px;
    top:0;
    z-index: 1;
}

.top_lbmore{
    position:absolute;
    width: 530px;
    left:0;
    top:775px;
}
.mask{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background:black;
    opacity:0;
    transition: all .2s;
}
.top_left:hover .mask{
    opacity:.2;
}

.top_right .mask{
    position:absolute;
    width: 480px;
    height: 410px;
    left:178px;
    top:0;
    z-index: 2;
}
.top_right:hover .mask{
    opacity:.2;
}

.banner-video{
    position:absolute;
    right:-14px;
    top:450px;
    background:black;
    cursor:pointer;
}
.banner-video video{
    position:relative;
    width: 650px;
    height: 550px;
    object-fit: contain;
}
.banner-video .mask{
    position:absolute;
    width: 650px;
    height: 550px;
    background:black;
    z-index: 10;
}
.banner-video:hover .mask{
    opacity:.2;
}
.video-play{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -55px 0 0 -55px;
    width: 110px;
    height: 110px;
    z-index: 20;
    background:url(../images/video-play.png) no-repeat;
}

/*mid goods*/
.mid{
    position:relative;
    bottom:200px;
    left:0;
    top:0;
    width: 100%;
}
.mid .title{
    position:absolute;
    top:1030px;
    left:0;
    width: 100%;
    height: 38px;
    margin-bottom: 40px;
    background: url(../images/editor-pick.png) no-repeat center/266px 38px, url(../images/title-line.png) no-repeat bottom;
    z-index: 99;
}
.mid-goods{
    position:relative;
    top:1040px;
    left:160px;
    width: 1200px;
    height: 440px;
    overflow:hidden;
}
.mid-goods .longbox{
    width: 3630px;
    height: 400px;
    position:absolute;
    left:0;
    top:40px;
    overflow:hidden;
}
.mid-goods .longbox>li{
    float:left;
    width: 232px;
    height: 400px;
    margin-right: 10px;
    background:#F5F5F5;
    transition:all .2s;
}
.line {
    width: 80px;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 18px;
    background-color: #000;
}
.mid-goods .longbox a{
    position:relative;
}
.mid-goods .longbox li:hover{
    border-bottom: 10px solid #ffb81c;
    transform: translateY(-10px);
}
.mid-goods .longbox li:hover p{
    color:#ffb81c;
}
.mid-goods .longbox a>img{
    width: 232px;
    height: 232px;
}
.goods-details{
    color:#000;
    padding:34px 27px 0;
}
.goods-details p{
    width: 178px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.goods-name{
    height: 28px;
    font-size: 18px;
    font-family: 'CASLON224STD-BOOKITALIC';
    font-style: italic;
}
.img-mask{
    position: absolute;
    left: 0;
    top: -100px;
    width: 232px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.3;
}

.bottom-dir{
    position: relative;
    height: 57px;
    margin-top: 30px;
    top:1070px;
    background: url(../images/arrow-logo.png) no-repeat center/128px 57px, url(../images/bottom-line.png) no-repeat 100%/100%;
}
.bottom-dir .prev,.bottom-dir .next{
    position: absolute;
    top: 0;
    left: 50%;
    width: 60px;
    height: 100%;
    color:black;
    font-size: 30px;
    text-align: center;
    line-height: 100%;
    padding-top: 10px;
    font-weight: bolder;
}
.bottom-dir .prev{
    margin-left: -64px;
}
.bottom-dir .next{
    margin-left: 4px;
}

/*fashion*/
.fashion{
    position: relative;
    height: 630px;
    margin-bottom: 30px;
    top:1110px;
}
.fa-top img:nth-child(1){
    position:absolute;
    left:0;
    top:0;
    z-index: 1;
}
.fa-top img:nth-child(2){
    position:absolute;
    right: 0;
    top:0;
    z-index: 6;
}
.fashion .erma{
    position:absolute;
    top:660px;
}

.kubox{
    position:relative;
    top:990px;
}
.kubox a,.kubox .bg-mask{
    width: 380px;
    height: 600px;
    position:absolute;
    left:0;
    top:0;
    margin-right: 10px;
}
.kubox a:nth-child(2){
    left:410px;
}
.kubox a:nth-child(3){
    left:820px;
}
.kubox .bg-mask{
    opacity:0;
    background:black;
    transition:all .2s;
    height: 600px;
}
.kubox a:hover .bg-mask{
    opacity:.2;
}

.foot{
    position:relative;
    height: 1200px;
    top:2080px;
    background:#FFB81C;
    padding-top:60px;
}
.foot-main{
    box-sizing: border-box;
    padding-left: 460px;
}
.foot-imgs{
    position:relative;
    width: 380px;
    height: 504px;
}
.foot-imgs a{
    display:inline-block;
    position:absolute;
    left:170px;
    top:60px;
    width: 380px;
    height: 504px;
}
.foot-imgs a:nth-child(2){
    left:575px;
}
.foot-imgs a:nth-child(3){
    left:980px;
}
.imgs-mark{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    background:black;
    transition:all .2s;
}
.foot-imgs a:hover .imgs-mark{
    opacity:.2;
}
.foot-list{
    position:relative;
    top:100px;
}
.foot-list h4{
    margin-bottom: 26px;
}
.foot-list>ul>li{
    float:left;
}
.serve{
    width: 325px;
}
.serve ul li{
    float:left;
    width: 115px;
    height: 33px;
}
.serve ul li a{
    color:#000;
}
.serve ul li a:hover{
    text-decoration: underline;
}

.commt h4{
    margin-left: 236px;
}
.commt .weibo{
    position:absolute;
    cursor:pointer;
    left:100px;
    top:105px;
}
.commt .foot-logo{
    position:relative;
    top:-20px;
    width: 550px;
    height: 240px;
    background:url(../images/footer-logo.png) no-repeat;
}
.commt .ewm-hide{
    width: 126px;
    height: 120px;
    position:relative;
    left:-130px;
    top:-71px;
    display:none;
}
.commt .ewm-hide img{
    width: 100%;
    height: 100%;
}
.commt .weibo:hover span{
    text-decoration:underline;
}
.commt .wechat{
    position:absolute;
    cursor:pointer;
    left:400px;
    top:105px;
}
.commt .wechat:hover span{
    text-decoration:underline;
}

.ourapp{
    margin-left: 207px;
    position:relative;
}
.ourapp li{
    position:relative;

}
.ourapp li:nth-child(2){
    top:33px;
}
.ourapp li:nth-child(2){
    top:66px;
}
.ourapp a{
    color:#000;
}
.ourapp a:hover{
    text-decoration: underline;
}
.app-ewm{
    position:absolute;
    left:-130px;
    top:-50px;
    width: 126px;
    height: 120px;
    display:none;
}
.app-ewm img{
    width: 100%;
    height: 100%;
}

.footer-info{
    width: 100%;
    position:absolute;
    top:300px;
}
.footer-info p{
    margin-bottom: 20px;
}
.footer-info p span{
    margin-right: 30px;
}
.footer-info p,.footer-info a{
    color:#000;
    font-size: 14px;
}
.footer-info p:nth-child(1) a:hover{
    text-decoration: underline;
}
.footer-info-imgs a{
    margin-right: 30px;
}
/*end*/

#all .active{
    display:block!important;
}