html,body{
    width: 100%;
    height: 100%;
    background: #f6f6f6;
}
body, html, div, dl, dt, dd, ul, li, ol, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, th, td, a, img, span {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: tahoma,arial,\5b8b\4f53,sans-serif;
}
.con{
    width: 990px;
    margin:0 auto;
}
a,i{
    display:inline-block;
}
a{
    color:#666;
}
.header{
    width: 100%;
    height: 70px;
    background: #323232;
}
.mainbox{
    padding:30px 0;
}
.username{
    padding-left: 18px;
}
.main_top a{
    color: #e93b39;
    padding: 0 10px;
}
.main_top a:hover{
    text-decoration: underline;
}
.carTable {
    width: 100%;
    color: #666;
}
.carTable tr th {
    height: 48px;
}
.carTable tr th {
    background: url(../images/c_02.jpg);
    font-weight: normal;
    color: #999;
    border-bottom: 1px solid #fff;
}
.carTable tr.addChecked td {
    background: #fdf0ef;
}
.carTable tr td {
    padding: 20px 0 15px;
    border-top: 1px solid #ececec;
    text-align: center;
    line-height: 22px;
    margin-top: -1px;
}
.countNum {
    width: 58px;
    margin: 0 auto 2px;
    overflow: hidden;
}
.cPlus, .cMinus {
    width: 11px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    color: #666;
    padding-right: 1px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #eaeaea;
}
.cPlus:hover, .cMinus:hover{
    background:palevioletred;
}
.cInput {
    margin-top: -1px;
}
.Num {
    width: 30px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #eaeaea;
    border-left: 0;
    border-right: 0;
    color: #666;
}
.namePro a ,.del{
    color: #333;
}
.namePro a:hover,.del:hover{
    text-decoration: underline;
}
.cartPrice {
    width: 915px;
    padding: 15px 45px 25px 30px;
    margin-top: 6px;
    position: relative;
    background-color: #fff;
    border: 1px solid #f1f1f1;
}
.cartAno {
    width: 300px;
    height: 30px;
    position: absolute;
    left: 31px;
    top: 17px;
    overflow: hidden;
}
.cartPrice p {
    text-align: right;
    padding: 4px 0;
    color: #333;
}
.ano01 {
    width: 78px;
    position: relative;
    top: 1px;
}
.ano02 {
    padding-left: 20px;
    background: url(../images/c_06.jpg) no-repeat 0px 0px;
    cursor: pointer;
    color: #c69c6d;
    height: 16px;
    line-height: 16px;
    padding-top: 1px;
}
.ano02:hover {
    background: url(../images/c_061.png) no-repeat 0px 0px;
}
.delSp a:hover {
    color: #e93b39;
}
.a01 {
    padding: 5px 15px;
    border: 1px solid #e93b39;
    color: #e93b39;
    background: none;
    margin-top: 12px;
}
.a02 {
    padding: 10px 40px;
    background-color: #e93b39;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    font-family: microsoft yahei;
}
.cartPrice p strong {
    font-family: tahoma;
    color: #e93b39;
    font-size: 30px;
    font-weight: normal;
}
.a02:hover, .a02:active {
    color: #fff;
    background-color: #d32220;
}
.colore93 {
    color: #e93b39;
}

/*尾部*/
.footer {
    width: 100%;
    background-color: #f6f6f6;
    border-top: 1px solid #fff;
}
.footerListTop {
    width: 1200px;
    margin: 0 auto;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.listTopCon {
    width: 100%;
    height: 155px;
}
.listTop01 {
    border-right: 1px solid #e3e3e3;
    width: 610px;
    height: 155px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.listTop01 .topIcon {
    width: 560px;
    height: 110px;
    overflow: hidden;
    margin-top: 30px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.listTop01 .topIcon ul li {
    width: 79px;
    float: left;
    height: 110px;
    position: relative;
}
.listTop01 .topIcon ul li a {
    width: 79px;
    height: 110px;
    position: absolute;
}
.listTop01 .topIconBg {
    width: 60px;
    height: 60px;
    padding: 9px;
    background: url(../images/small_tips_bg02.jpg) no-repeat top center;
    position: relative;
}
.text {
    width: 100%;
    text-align: center;
    color: #999;
    height: 22px;
    line-height: 22px;
}
.listTop02 {
    width: 336px;
    height: 155px;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #fff;
}
.listTop01 .topIcon ul li.hr {
    width: 40px;
    height: 70px;
    margin-top: 10px;
    background: url(http://pic.secoo.com/imagesNew/globalPic/small_tips_bg01.gif) repeat-x;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.listTop01 .topIcon ul li.hr {
    width: 40px;
    height: 70px;
    margin-top: 10px;
    background: url(../images/small_tips_bg01.gif) repeat-x;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.listTop01 .topIconBg p {
    background: url(http://pic.secoo.com/imagesPic/homePic/small_tips_bg04.png) no-repeat;
    width: 60px;
    height: 60px;
    box-shadow: 0px 3px 3px #b1b1b1;
    border-radius: 50%;
    -webkit-transition: opacity linear .2s,box-shadow ease-in .2s;
    -moz-transition: opacity linear .2s,box-shadow ease-in .2s;
    -o-transition: opacity linear .2s,box-shadow ease-in .2s;
    -ms-transition: opacity linear .2s,box-shadow ease-in .2s;
    transition: opacity linear .2s,box-shadow ease-in .2s;
    overflow: hidden;
    text-indent: -100px;
    position: absolute;
}
.listTop01 .topIconBg p.i01 {
    background-position: -1px -1px;
    z-index: 2;
}
.listTop01 .topIconBg p.i02 {
    background-position: -91px -1px;
    z-index: 2;
}
.listTop01 .topIconBg p.i03 {
    background-position: -180px -1px;
    z-index: 2;
}
.listTop01 .topIconBg p.i01s {
    background-position: -1px -89px;
    z-index: 1;
    opacity: 1;
}
.listTop01 .topIconBg p.i02s {
    background-position: -91px -89px;
    z-index: 1;
    opacity: 1;
}
.listTop01 .topIconBg p.i03s {
    background-position: -180px -89px;
    z-index: 1;
    opacity: 1;
}
.listTop01 .topIconBg p.i04 {
    background-position: -270px -1px;
    z-index: 2;
}
.listTop01 .topIconBg p.i04s {
    background-position: -270px -89px;
    z-index: 1;
    opacity: 1;
}
.listTop01 .topIconBg p.i05 {
    background-position: -358px -1px;
    z-index: 2;
}
.listTop01 .topIconBg p.i05s {
    background-position: -358px -89px;
    z-index: 1;
    opacity: 1;
}
.listTop02 ul {
    width: 264px;
    height: 125px;
    padding: 30px 0 0 22px;
}
.listTop02 ul li {
    width: 107px;
    height: 104px;
    background: url(../images/small_tips_bg03.jpg) no-repeat top center;
    position: relative;
    float: left;
    margin-left: 25px;
    display: inline;
}
.weixinPic {
    width: 86px;
    height: 86px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.toptext, .bottomtext {
    width: 84px;
    height: 20px;
    line-height: 24px;
    color: #999;
    position: absolute;
    left: 11px;
    text-align: center;
}
.toptext {
    top: -14px;
}
.toptext:hover, .bottomtext:hover {
    color: #999;
}
.bottomtext {
    bottom: -8px;
}
.listTop03 {
    width: 245px;
    height: 155px;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #fff;
}
.listTop03 p {
    width: 170px;
    height: 100px;
    margin: 30px auto 0 auto;
    overflow: hidden;
}
.listTop03 p a {
    display: inline-block;
    width: 85px;
    float: left;
    text-align: center;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
}
.footerListBottom {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e3e3e3;
    padding-top: 1px;
}
.footerListBottom01 {
    height: 35px;
    width: 100%;
    line-height: 35px;
    color: #999;
    text-align: center;
    background-color: #eaeaea;
}

.lastshow{
    width: 100%;
    width: 100%;
    position:absolute;
    left:0;
    top:0;
}
.lastshow img{
    width: 400px;
    height: 600px;
    position:absolute;
    z-index: 99;
    left:40%;
    top:10%;
}
.lastshow .mask{
    width: 100%;
    height: 1000px;
    position:absolute;
    background:black;
    opacity:.6;
    z-index: 88;
}
.lastshow p{
    font-weight: bolder;
    font-size: 50px;
    color:#58bc58;
    position:absolute;
    z-index: 100;
    left:450px;
    top:550px;
}